.vscode/*
.DS_Store
tmp/*

*.out
*.out.dSYM
main.cc

build/*
*/target/*

xcode/practice/practice.xcodeproj/project.xcworkspace/*
xcode/practice/practice.xcodeproj/xcuserdata/*

bazel_example/*/bazel-*
